root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = tab
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

# Because yml is dumb and requires the objectively worse tab style
# That's what you get when you design a system after Python
[*.{yml,yaml}]
indent_style = space
indent_size = 4
