includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
	level: max
	paths:
		- .
	excludePaths:
		# See phpunit.xml's ignores
		- vendor
		- storage
		- *.blade.php
	stubFiles:
		- stan/Blueprint.stub
		- stan/ColumnDefinition.stub
		- stan/DOMElement.stub
		- stan/Fluent.stub
		- stan/Kernel.stub
		- stan/Model.stub
	ignoreErrors:
		# DynamicCallOnStaticMethodsRule warns when both dynamic and static methods exist
		# https://github.com/phpstan/phpstan-strict-rules/issues/140
		- '/Dynamic call to static method Illuminate\\Database\\.*/'

		# While normally I would agree about short ternary, the xpath API really makes it needed
		- '/Short ternary operator is not allowed./'
